:root {
  --main-theme-color: #222629;
  --add-theme-color: #86c232;
  --secondary-color: #61892f;
  --secondary-theme-color: #6b6e70;
  --main-font: "Oswald";
}
#login-form {
  margin: 50px auto 0 auto;
  width: 450px;
  height: 400px;
  background-color: var(--secondary-theme-color);
  border: 2px solid var(--secondary-theme-color);
  text-align: center;
  border-radius: 2%;
  font-family: var(--main-font);
  font-size: 25px;
  color: white;
}
body {
  background-color: var(--main-theme-color);
}
hr {
  background-color: var(--add-theme-color);
  height: 2px;
  border: none;
}
input.login {
  width: 350px;
  height: 30px;
  font-family: var(--main-font);
  font-size: 17px;
  color: var(--main-theme-color);

  padding: 8px 14px;
  margin: 20px 13px 15px 13px;
}
button[type="submit"] {
  border: none;
  border-radius: 2%;
  padding: 8px 14px;
  margin-top: 28px;

  height: 38px;
  font-size: 17px;
  color: white;
  background-color: var(--add-theme-color);
}
button[type="submit"]#login-btn {
  width: 40%;
}
input:focus {
  box-shadow: 2px 2px 4px -2px var(--add-theme-color);
}
span {
  font-size: 17px;
}
a {
  font-size: 17px;
  color: var(--add-theme-color);
}
button:disabled {
  background-color: var(--secondary-theme-color);
  border: 3px solid var(--secondary-color);
}
