:root {
  --main-theme-color: #222629;
  --add-theme-color: #86c232;
  --secondary-color: #61892f;
  --secondary-theme-color: #6b6e70;
  --main-font: "Oswald";
}
#registration-form {
  margin: 50px auto 0 auto;
  width: 450px;
  height: 480px;
  background-color: var(--secondary-theme-color);
  border: 2px solid var(--secondary-theme-color);
  text-align: center;
  border-radius: 2%;
  font-family: var(--main-font);
  font-size: 25px;
  color: white;
}
span {
  font-size: 14px;
}
a {
  font-size: 17px;
  color: var(--add-theme-color);
}
#confirm-email {
  font-size: 17px;
}
input.signup {
  width: 350px;
  height: 30px;
  font-family: var(--main-font);
  font-size: 17px;
  color: var(--main-theme-color);

  padding: 8px 14px;
  margin: 20px 13px 15px 13px;
}
