input {
  border: none;
  background-image: none;
  background-color: #ffffff;
  padding: 5px 10px;
  box-shadow: none;
}
input.add-task {
  padding: 11px 10px;
}
button.add-task {
  padding: 4px 10px;
  width: 45%;
  margin-left: 15px;
}
