:root {
  --main-theme-color: #222629;
  --add-theme-color: #86c232;
  --secondary-color: #61892f;
  --secondary-theme-color: #6b6e70;
  --main-font: "Oswald";
}
#task-container {
  margin: 50px auto 0 auto;
  width: 450px;

  background-color: var(--secondary-theme-color);
  border: 2px solid var(--secondary-theme-color);
  border-radius: 2%;
  font-family: var(--main-font);
  padding: 20px;
  color: white;
}
h1 {
  text-align: center;
}
input.task {
  margin: 7px;
}
li {
  list-style-type: none;
}
#logout {
  border: 0;
  border-radius: 0.25rem;
  background: var(--secondary-color);
  color: white;
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  cursor: pointer;
}
